<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Yelp-Camp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <!-- Campgrounds index -->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
        </li>
        <!-- New Campground -->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>
      </ul>

      <!-- Login and logout -->
      <ul class="navbar-nav ms-auto">
        <!-- The user is not logged in -->
        <% if (!currentUser) { %>
          <li>
            <a href="/register" class="nav-link">Register</a>
          </li>
          <li>
            <a href="/login" class="nav-link">Login</a>
          </li>
        <% } %>

        <!-- The user is already logged in -->
        <% if (currentUser) { %>
          <li>
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>