  <% layout('layouts/boilerplate') %> 

  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">

      <!-- Form -->
      <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >

        <!-- title -->
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="campground[title]" id="title" required>

          <!-- valid & invalid feedback -->
          <div class="valid-feedback">
            Nice Campground name!
          </div>
          <div class="invalid-feedback">
            Campground title is required!
          </div>
        </div>
        <!-- location -->
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" name="campground[location]" id="location" required>

          <!-- invalid feedback -->
          <div class="invalid-feedback">
            Location is required!
          </div>
        </div>
        
        <!-- images -->
        <div class="mb-3">
          <input class="form-file-input" type="file" name="campground[images]" id="image" multiple required>
          <!-- invalid feedback -->
          <div class="invalid-feedback">
            Image URL is required!
          </div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" name="campground[description]" id="description" required></textarea>

          <!-- invalid feedback -->
          <div class="invalid-feedback">
             Description is required!
          </div>
        </div>

        <!-- Price -->
        <div class="input-group mb-3">
          <span class="input-group-text">Price $</span>
          <input type="number" min="1" step="any" class="form-control" name="campground[price]" aria-label="Amount (to the nearest dollar)" required>

          <!-- invalid feedback -->
          <div class="invalid-feedback">
             Image URL is required!
          </div>
        </div>

        <!-- Add campground button -->
        <div class="mb-3">
          <button class="btn btn-success">Add Campground</button>
        </div>
      </form>

      <!-- Back button -->
      <div class="mb-3">
        <form action="/campgrounds">
        <button class="btn btn-secondary">Go Back</button>
        </form>
      </div>

    </div> 
  </div> <!-- End of row -->


  <!-- include the js for the validation -->
  <%- include('../partials/formValidator') %> 