  <% layout('layouts/boilerplate') %> 

  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">

      <!-- Form -->
      <form action="/campgrounds" method="POST">
        <!-- title -->
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="campground[title]" id="title">
        </div>
        <!-- location -->
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" name="campground[location]" id="location">
        </div>
        <!-- image -->
        <div class="mb-3">
          <label class="form-label" for="image">Image URL</label>
          <input class="form-control" type="text" name="campground[image]" id="image">
        </div>
        <!-- Description -->
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" name="campground[description]" id="description"></textarea>
        </div>

        <!-- Price -->
        <div class="input-group mb-3">
          <span class="input-group-text">Price $</span>
          <input type="number" min="1" step="any" class="form-control" name="campground[price]" aria-label="Amount (to the nearest dollar)">
        </div>
        <!-- Add campground button -->
        <div class="mb-3">
          <button class="btn btn-success">Add Campground</button>
        </div>
      </form>

      <!-- Back button -->
      <div class="mb-3">
        <form action="/campgrounds">
        <button class="btn btn-secondary">Go Back</button>
        </form>
      </div>

    </div> 
  </div> <!-- End of row -->
